<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">James P</span>
                        <span class="text-muted text-xs block">CEO <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs" style="position: absolute; top: 91px; left: 0px; will-change: top, left;">
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    JP+
                </div>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-page="/Index">
                    <i class="fa fa-diamond"></i><span class="nav-label">Home</span>
                    <span class="label label-primary float-right">Home</span>
                </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-table"></i> <span class="nav-label" data-i18n="nav.tables">Brokers</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a asp-area="" asp-page="/Admin/Pages/Broker"><i class="fa fa-edit"></i> <span class="nav-label">Admin Brokers</span></a></li>
                    <li><a asp-area="" asp-page="/Admin/Pages/BrokerStaff"><i class="fa fa-edit"></i> <span class="nav-label">Broker Staff</span></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-page="/Admin/Pages/Dispatch"><i class="fa fa-server"></i> <span class="nav-label">Admin Dispatch</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-table"></i> <span class="nav-label" data-i18n="nav.tables">Factories</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a asp-area="" asp-page="/Admin/Pages/Factory"><i class="fa fa-server"></i> <span class="nav-label">Admin Factory</span></a></li>
                    <li><a asp-area="" asp-page="/Admin/Pages/FactoryStaff"><i class="fa fa-server"></i> <span class="nav-label">Factory Staff</span></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-page="/Admin/Pages/Driver"><i class="fa fa-server"></i> <span class="nav-label">Admin Driver</span></a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-page="/Admin/Pages/Truck"><i class="fa fa-server"></i> <span class="nav-label">Admin Truck</span></a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-page="/Admin/Pages/Trailer"><i class="fa fa-server"></i> <span class="nav-label">Admin Trailer</span></a>
            </li>
        </ul>
    </div>
</nav>