@page
@model TruckApp.UI.Pages.Admin.IndexModel
@{
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>JBP - Truck Application 2020 - Admin Panel</a>.</p>
    </div>

