@page
@model TruckApp.UI.Pages.Admin.TrailerModel
@{
}

    <div id="app" class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="row" v-if="editing">
            <div class="col-lg-12">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li><a class="nav-link active" data-toggle="tab" href="#tab-1">Trailer info</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <fieldset>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Number:</label>
                                        <div class="col-sm-10">
                                            <input v-model="trailerModel.trailerNumber" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Plate:</label>
                                        <div class="col-sm-10">
                                            <input v-model="trailerModel.trailerPlate" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Description:</label>
                                        <div class="col-sm-10">
                                            <input v-model="trailerModel.description" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Status:</label>
                                        <div class="col-sm-10">
                                            <select v-model="trailerModel.status" class="form-control">
                                                <option value="Active" selected>Active</option>
                                                <option value="Disabled">Disabled</option>
                                                <option value="StandBy">StandBy</option>
                                                <option value="Deleted">Deleted</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <button class="btn btn-primary btn-primary" @@click="createTrailer" v-if="!trailerModel.id">Create Trailer</button>
                                            <button class="btn btn-primary btn-primary" @@click="updateTrailer" v-else>Update Trailer</button>
                                            <button class="btn btn-white btn-default" type="submit" @@click="cancel">Cancel</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" v-if="!editing">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <button class="btn btn-default" @@click="newTrailer">Add New Trailer</button>
                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                            <thead>
                                <tr>
                                    <th data-toggle="true">Trailer Number</th>
                                    <th data-hide="phone">Plate</th>
                                    <th data-hide="phone">Description</th>
                                    <th data-hide="phone">Status</th>
                                    <th class="text-right" data-sort-ignore="true">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(trailer, index) in trailers">
                                    <td>
                                        {{trailer.trailerNumber}}
                                    </td>
                                    <td>
                                        {{trailer.trailerPlate}}
                                    </td>
                                    <td>
                                        {{trailer.description}}
                                    </td>
                                    <td>
                                        <span class="label label-primary">{{trailer.status}}</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button class="btn-white btn btn-xs" @@click="editTrailer(trailer.id, index)">Edit</button>
                                            <button class="btn-white btn btn-xs" @@click="deleteTrailer(trailer.id, index)">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <ul class="pagination float-right"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>


    @*<div id="app">
        <div>
            <p v-for="(trailer, index) in trailers">
                {{trailer.trailerNumber}} - {{trailer.trailerPlate}} - {{trailer.description}} - {{trailer.purchaseDate}} - {{trailer.purchasePrice}}
                <a @@click="editTrailer(trailer.id, index)">Edit</a>
                <a @@click="deleteTrailer(trailer.id, index)">Remove</a>
            </p>
        </div>

        <div>
            <input v-model="trailerModel.vin" />*
            <input v-model="trailerModel.year" />*
            <input v-model="trailerModel.make" />*
            <input v-model="trailerModel.model" />*
            <input v-model="trailerModel.class" />*
            <input v-model="trailerModel.bodyType" />*
            <input v-model="trailerModel.lenght" />*
            <input v-model="trailerModel.description" />*
            <input v-model="trailerModel.trailerPlate" />
            <input v-model="trailerModel.trailerNumber" />
            <input v-model="trailerModel.titleNumber" />
            <input v-model="trailerModel.titleState" />
            <input v-model="trailerModel.titleIssueDate" />
            <input v-model.number="trailerModel.purchasePrice" />
            <input v-model="trailerModel.purchaseDate" />
            <input v-model="trailerModel.status" />

            <button @@click="createTrailer" v-if="!trailerModel.id">Create Trailer</button>
            <button @@click="updateTrailer" v-else>Update Trailer</button>
        </div>
    </div>*@


@section scripts{

    <script src="~/js/admin/trailers.js"></script>
}